div.header {
    color: #000;
    background-color: aliceblue;
    font: 13px/60px Arial, sans-serif;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

div.aaa{
    color: #000;
    background-color: aliceblue;
    font: 13px/45px Arial, sans-serif;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 45px;
}

div.footer {
    color: #000;
    background-color: aliceblue;
    font: 13px/40px Arial, sans-serif;
    right: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.body {
    width: 960px;
    margin: 32px auto;
    padding: 0 24px;
}

div.bodyfinal {
    min-height: 372px;
    padding-top: 40px;
    margin: 0 20px 60px 25px;
    text-align: center;
}

div.text {
    margin: 24px auto;
    font-family: sans-serif;
    position: absolute;
}

img.logo {
    float: left;
    width: 182px;
    height: 35px;
    margin-top: 14px;
    margin-left: 17px;
    background-size: 182px 35px;
    background-position: left
}

img.body {
    margin-left: 150px;
    margin-top: 150px;
}

iframe.body {
    float: right;
    border: 1px solid #a0b1c4;
    background-color: #fff;
    position: relative;
    z-index: 12;
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #8C54AD;
}

a.switch1 {
    color: #999;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    outline: 0;
    float: left;
    margin-left: 50px;
    font-size: 15px;
}

a.switch2 {
    color: #333;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    outline: 0;
    float: right;
    margin-right: 50px;
    font-size: 15px;
}
input.inputstyle{
    top: 45px;
    padding: 10px 40px 10px 10px;
    left: 0px;
    border-radius: 3px;
    width: 232px;
}